/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

/* ///////////////////////// HOME START /////////////////////////// */
.carousel-item {
  max-height: 80vh;
}

/* ///////////////////////// HOME END /////////////////////////// */

/* ///////////////////////// BRANDVISION START /////////////////////////// */
/* .brandvision_wrapper {
  background-color: black;
} */
.container_brandvision {
  padding: 50px 0;
}

/* ///////////////////////// BRANDVISION END /////////////////////////// */

/* ///////////////////////// PROJECTPORTFOLIO START /////////////////////////// */

.card:hover {
  background-color: #363636;
}

/* ///////////////////////// PROJECTPORTFOLIO END /////////////////////////// */

/* ///////////////////////// JOBTICKER START /////////////////////////// */
@keyframes tickerAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.jobticker-container p {
  margin: 0;
}

.jobticker-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.jobticker-inner-container {
  animation: tickerAnimation 150s linear infinite; /* Anpassung der Dauer nach Bedarf */
}
.ticker-item {
  position: relative; /* Damit das ::after Pseudo-Element relativ zu diesem Element positioniert wird */
  display: inline-block;
  text-align: center;
  margin-right: 30px; /* Ersetzt margin-right für den Abstand rechts */
  margin-left: 30px; /* Abstand links */
}

.ticker-item::after {
  content: ""; /* Notwendig, damit das Pseudo-Element angezeigt wird */
  position: absolute;
  right: -30px; /* Positionierung am rechten Rand des .ticker-item */
  top: 50%; /* Zentriert die Linie vertikal */
  transform: translateY(
    -50%
  ); /* Korrigiert die Zentrierung basierend auf der Höhe der Linie */
  height: 70%; /* Höhe der Linie */
  border-right: 1px solid; /* Die eigentliche Linie/Border */
}

.ticker-item:last-child::after {
  display: none; /* Entfernt die Linie vom letzten Element */
}
/* ///////////////////////// JOBTICKER END /////////////////////////// */

/* ///////////////////////// FOOTER START /////////////////////////// */

.container_footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* styles.css */
ul.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  display: inline-block;
  margin-right: 10px;
}

.social-link {
  color: inherit; /* Setzt die Farbe auf die des Elternelements */
}

/* .facebook {
  color: rgb(24, 119, 242);
}
.youtube {
  color: rgb(255, 0, 0);
}
.linkedin {
  color: rgb(0, 119, 181);
}

.github {
  color: rgb(36, 41, 46);
}

.instagram {
  color: rgb(247, 0, 255);
} */

.facebook,
.youtube,
.linkedin,
.github,
.instagram {
  color: #212529;
}

.icon-large {
  font-size: 28px;
}

.phil-button {
  border: 0;
  color: white;
  background: rgb(255, 0, 143);
  background: linear-gradient(
    56deg,
    rgba(255, 0, 143, 1) 0%,
    rgba(99, 0, 138, 1) 93%
  );
}

.phil-button:hover {
  border: 0;
  color: white;
  background: rgba(99, 0, 138, 1);
}

/* ///////////////////////// FOOTER END /////////////////////////// */

/* ///////////////////////// MEDIA QUERIES /////////////////////////// */

@media (max-width: 768px) {
  .carousel-caption {
    display: none;
  }

  .carousel-item {
    height: 50vh; /* Setze die Höhe nach deinen Bedürfnissen */
  }

  .carousel-item img {
    height: 100%; /* Stellt sicher, dass das Bild die Höhe des Carousel-Items einnimmt */
    object-fit: cover; /* Verhindert Verzerrungen des Bildes */
  }
}
